/* General font and coloring */
body{
    font-family: 'Lato', sans-serif;
    padding: 2%;
} 

/* App Inputs */
input, textarea {
    border-radius: 5px;
    border: solid 2px gray;
}

/* App Buttons */
button {
    font-family: "Lucida Grande" "Lucida Sans Unicode";
    letter-spacing: 1px;
    background-color: #4764b3;
    padding: 5px 8px 5px 8px;
    border: none;
    border-radius: 2px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

/* App border */
.notebook_border{
    background-color: white;
    border: double 10px;
    border-color: gray;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 15px 10px 10px;
}

#div_landing_page_text{
    border: double 10px;
    border-color: gray;
    border-radius: 5px;
    text-align: center;
    margin: 5%;
}

/* App Header */
#header{
    display: block;
}
.fb-login-button{
    display: block;
    float: right;
    top: 20px;
    margin-right:5%;
}

/* App header fonts */
.head_font{
    font-family: 'Amiko', sans-serif;
}

h3.head_font{
    padding: 50px;
}

#title_for_new_note {
    width: 40%;
}
/* Individual note border */
.decorate_note_div{
    display: block;
    border: solid 2px;
    border-color: gray;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 5px 10px 5px; 
}
/* Indivdual Note Alerations */
/* Move Delete Button to Right Corner */

button.delete_note{
    display: block;
    float: right;
    margin: -1px -2px -2px; 
}

h2.head_font{
    display: inline-block;
}


#new_note_text_box{
    height: 100px;
    width: 96%;
    margin: 5px 5px 2px 5px;
}

#div_select_header{
    margin-top: 5%;
    margin-bottom: 0px;
}

#note_header{
    display: block;
    float: right;
    position: relative;
    bottom: 20px;
    margin-bottom:0px;
}

#select{
    display: inline-block;
}

.decorate_note_div{
    display: block;
}

.div_note_title{
    clear: both;
    margin: 0px;
    padding-bottom: 0px;
    position: relative;
    /*display: flex;*/
}

.header_note_title{
    display: inline-block;
    margin-top: 0px;
    padding-top: 3px;
    display: flex;
}

.note_title{
    display: inline-block;
    padding: 5px;
    /*position: absolute;*/
    /*float: left;*/
    /*clear: both;*/
    margin: 0px;
    display: flex;
}

.note_created_at{
    width: 100%;
    display:inline-block;
    float: right;
    text-align: right;
    clear: both;
}

.div_note_content{
    clear: both;
    margin: 0px;
    padding-top:0px;
}

.note{
    display: inline-block;
}

.note_content{
    display: inline-block;

}

.add_new_note{
    margin-top: 5%;
    margin-bottom: 5%;
}

.highlight{
    /*https://css-tricks.com/snippets/css/glowing-blue-input-highlights/
   */
    width: 100%;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 2px solid rgba(126, 195, 216, 1);
    border-radius: 3px;
    
}

.no_notes{
    height: 100px;
    width: 90%;
    margin: 5px 5px 2px 5px;
    border: solid 2px;
    border-color: gray;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    z-index: -10;
}

@media screen and (max-width: 520px) {
    #div_select_header{
        margin-bottom: 0px;
        padding: 0px; 
    }

    #note_header{
        padding-right:25%;
        margin-bottom:0px;
    }

    #select{
        margin-top: 0px;
    }    
    
    .note_created_at{
    display:inline-block;
    float: right;
    }

    .no_notes{
    height: 100px;
    width: 85%;
    margin: 5px 5px 2px 5px;
    border: solid 2px;
    border-color: gray;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    z-index: -10;
}
}

@media screen and (max-width: 460px) {

    .fb-login-button{
    display: block;
    float: right;
    top: 20px;
    margin-bottom: 10%;
    }

    #note_header{
        display: block;
        float: right;
    } 

    #select{
        display: inline-block;
        margin-left:2%;
    }

}
