<!DOCTYPE html>
<html>
<head>
    <title>Notebook</title>

    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
</head>
<body>
    <h2>Make Notes Simply! <br>
        Simply Make Notes!
    </h2>
    <!-- Facebook Sign In Message -->
    <div id="status">
    </div>

    {% if 'current_user' in session %} 
        <li><a href="#" onClick="fbLogoutUser()">Sign Out</a></li>
        <form action="/notes" method="post">
            <p>Lable Your Note:</p><input id="title_for_new_note" type="text" placeholder="Note Title" name="note_title">
            <br>
            <p>Create Your Note:</p><input id="new_note_text_box" type="text" placeholder="Note" name="new_note">
            <br>
            <br>
            <button id="new_note_button">Submit</button>
        </form>


        <h3>Your Notebook Log:</h3>
        <div class="notebook_border">
            <form>
                <select id='ascend_descend' name='order_by'>
                    <option value='most_recent'> Order-By Most Recent </option>
                    <option value='oldest'> Order-By Oldest </option>
                </select>
            </form>

            <div id="contain_all_notes">
            <div class="add_new_note"> </div>
            {% for note in notes %}
                
                <div class="decorate_note_div">
                    
                    <div>
                        {{ note.created_at }} 
                    </div>

                    <div> 
                        <h4>Note Title:</h4> <div class="editable_{{ note.id }}" id ="note_title_{{ note.id }}" contenteditable="false">{{ note.title }}</div>
                    </div>

                    <div >
                        <h4>Note:</h4> 
                        <div class="editable_{{ note.id }}" id="notes_from_db_{{ note.id }}" contenteditable="false"> {{ note.content }} </div>
                    </div>
                
        
                    <button class="edit_button" value="{{ note.id }}"> Edit Note </button>
                    <button class="delete_note" value="{{ note.id }}"> Delete </button>
                    <br>
                </div>
            
            {% endfor %}
            </div>
            


    {% else %}
       <div id="fb-root"></div>
            <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1899079457005459";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>
               <!--  <button id="log_in_button" value="{{ app_id }}">Log In With Facebook</button> --> 
        
          <div id="log_in_button" class="fb-login-button" value="{{ app_id }}" data-max-rows="1" data-size="medium" scope="email" data-show-faces="false" data-auto-logout-link="false"></div>

    {% endif %}

            

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/javascript/index.js" type="text/javascript"> </script>
    <script src="static/javascript/mustache.js"></script>

</body>

</html>